.App {
  text-align: center;
}

img {
  width: 40vw;
  height: 90vh;
  object-fit: contain;
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  font-size: 20px;
  top: 46%;
  color: white;
  background: black;
  border-radius: 9999px;
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  left: 20%;
}

.right-arrow {
  right: 20%;
}